<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Policy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/policy.css" />
  </head>
  <body>
    <header>
      <div class="main">
        <nav class="navbar">
          <a href="https://www.citchennai.edu.in/"><img src="/CIT.jpg" /></a>
          <a class="navbar_logo" href="">CIT MESS TRACKER</a>
          <!-- <p style="color: white; font-size: 22px; letter-spacing: 3px">
            CIT Mess tracker
          </p> -->
          <ul class="navbar_list">
            <li>
              <i class="fas fa-home navbar_icons"></i><a href="/home">Home</a>
            </li>
            <li>
              <i class="fa-solid fa-square-poll-vertical navbar_icons"></i
              ><a href="/calculateResult">Results</a>
            </li>
            <li>
              <i class="fa-solid fa-square-phone navbar_icons"></i
              ><a href="/CIT/policy#Contact_Us">Contact Us</a>
            </li>
            <li>
              <i class="fa-solid fa-book-open navbar_icons"></i
              ><a href="/CIT/policy">Policy</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="centerMain">
      <h1>Our Policy</h1>
      <p></p>
      <h2>
        Here, at Chennai Institute of Technology's own Mess Tracker, we
        understand and respect the importance of your privacy. This policy
        outlines the information we collect, how we use it, and the measures we
        take to protect your personal information. By using our website, you
        agree to the terms outlined in this policy.
      </h2>

      <div class="block">
        <h3>How We use your information</h3>
        <font color="white">Personal Info:</font>
        When you create an account or place a vote, we collect your name, email
        address, and other relevant contact information.
        <br />
        <font color="white">Usage Data:</font>
        We may collect non-personal information such as your browser type and
        operating system, to improve our website's functionality and user
        experience.
        <br />
        <font color="white">Cookies:</font>
        We use cookies to further enhance your browsing experience.
      </div>
      <div class="block">
        <h3>Order Processing</h3>
        <font color="white">Account Management:</font>
        Your account information helps us personalize your experience, track
        your preferences, and manage your account effectively.
        <br />
        <br />
        <font color="white">Analytics:</font>
        Non-personal information and usage data are used to analyze website
        performance, improve our services, and understand user behavior.
      </div>
      <div class="block">
        <h3>Security Measures</h3>
        <font color="white">Secure Transactions:</font>
        We employ industry-standard security measures to protect your personal
        information during transactions.
        <br />
        <font color="white">Data Encryption:</font>
        Our website uses encryption protocols to secure the transmission of data
        between your browser and our servers.
        <br />
        <font color="white">Access Controls:</font>
        Access to your personal information is restricted to authorized
        personnel only, ensuring confidentiality.
      </div>
      <br />
      <hr />

      <div class="block">
        <a id="Contact_Us">
          <h3>Updates to the Privacy Policy</h3>
        </a>

        We may update our Privacy Policy to reflect changes in our practices or
        for legal reasons. We encourage you to review this page periodically for
        any updates. If you have any questions or concerns regarding our Privacy
        Policy, please contact us at
        <a href="mailto: support.citchennai.net">support.citchennai.net</a>
        <br /><br />
        <hr />
        <p align="center">Last Updated: <font color="gold">March 2024</font></p>
        <p align="center">
          Thank you for trusting Chennai Institute of Technology's Mess Tracker.
          Enjoy your culinary journey with us!
        </p>
      </div>
    </div>
  </body>
</html>
